{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "bracketSameLine": false,
    "useTabs": false,
    "printWidth": 100
}
